<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>80945994455-1hld5bva23umj5shm7rt0cq642dekjp1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80945994455-1hld5bva23umj5shm7rt0cq642dekjp1</string>
	<key>API_KEY</key>
	<string>AIzaSyBThCALAzW-B72CQ_0oz6JSeyBeeL7y2L0</string>
	<key>GCM_SENDER_ID</key>
	<string>80945994455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.yongseongkim.SectionRepeater</string>
	<key>PROJECT_ID</key>
	<string>sectionrepeater</string>
	<key>STORAGE_BUCKET</key>
	<string>sectionrepeater.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:80945994455:ios:674f51ca37ea75af</string>
	<key>DATABASE_URL</key>
	<string>https://sectionrepeater.firebaseio.com</string>
</dict>
</plist>