<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>779182975371-ogiubescvcm9l9pma3m8miuidp6eggcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779182975371-ogiubescvcm9l9pma3m8miuidp6eggcg</string>
	<key>API_KEY</key>
	<string>AIzaSyB97YAFp7eSvG2MVr5S9VRxdeo8VbjjQvY</string>
	<key>GCM_SENDER_ID</key>
	<string>779182975371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.yongseongkim.ListenNRepeat</string>
	<key>PROJECT_ID</key>
	<string>listennrepeat-d3f41</string>
	<key>STORAGE_BUCKET</key>
	<string>listennrepeat-d3f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:779182975371:ios:8238b8718df0fc57</string>
	<key>DATABASE_URL</key>
	<string>https://listennrepeat-d3f41.firebaseio.com</string>
</dict>
</plist>